@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

@mixin pct($pct) {
  width: #{$pct};
  position: relative;
  margin: 0 auto;
}

@mixin triangle($width, $height, $color, $direction) {
  $width: $width/2;
  $color-border-style: $height solid $color;
  $transparent-border-style: $width solid transparent;
  height: 0;
  width: 0;

  @if $direction==up {
    border-bottom: $color-border-style;
    border-left: $transparent-border-style;
    border-right: $transparent-border-style;
  }

  @else if $direction==right {
    border-left: $color-border-style;
    border-top: $transparent-border-style;
    border-bottom: $transparent-border-style;
  }

  @else if $direction==down {
    border-top: $color-border-style;
    border-left: $transparent-border-style;
    border-right: $transparent-border-style;
  }

  @else if $direction==left {
    border-right: $color-border-style;
    border-top: $transparent-border-style;
    border-bottom: $transparent-border-style;
  }
}

@mixin flex-around() {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin flex-start() {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@mixin flex-end() {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@mixin border-bottom($color) {
  background-size: 100% 1px;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, transparent, $color);
}
@mixin border-top($color) {
  background-size: 100% 1px;
  background-position: left top;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, transparent, $color);
}
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin shadow-transition() {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
}
