.room-item-panel {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px 0px;
  font-size: 12px;

  .el-card__header {
    padding: 0 !important;
    border: none;
    font-size: 12px;
    background-color: #dddddd;
    .card-header-button {
      min-width: 40px;
      font-size: 12px;
      text-align: right;
    }
  }
  .el-card__body {
    padding: 0;
  }
  .remain-warning {
    animation: remain-warning 2s infinite;
  }
}

.room-item-tip-title {
  display: inline-block;
  min-width: 60px;
}

.statistics-container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px 0px;
}

.statistics-card-panel {
  .el-card__header {
    padding: 0 !important;
    border: none;
    font-size: 14px;
    background-color: #dddddd;
  }
  .el-card__body {
    padding: 0;
  }
}

@keyframes remain-warning {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hotel-report {
  .el-tabs__content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
