.room-item-panel {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px 0px;
  font-size: 14px;

  .el-card__header {
    padding: 0 !important;
    border: none;
    font-size: 14px;
    background-color: #dddddd;
    .card-header-button {
      min-width: 40px;
      font-size: 14px;
      text-align: right;
    }
  }
  .el-card__body {
    padding: 0;
  }
  .remain-warning {
    animation: remain-warning 2s infinite;
  }
}

.room-item-tip-title {
  display: inline-block;
  min-width: 60px;
}

.statistics-container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px 0px;
}

.statistics-card-panel {
  .el-card__header {
    padding: 0 !important;
    border: none;
    font-size: 14px;
    background-color: #dddddd;
  }
  .el-card__body {
    padding: 0;
  }
}

@keyframes remain-warning {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hotel-report {
  .el-tabs__content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    .el-tab-pane {
      height: 100%;
    }
  }
}

.font-size-12px {
  font-size: 12px;
  span,
  div,
  button,
  label,
  input {
    font-size: 12px !important;
  }
}
.font-size-14px {
  font-size: 14px;
  span,
  div,
  button,
  label,
  input {
    font-size: 14px !important;
  }
}
.font-size-16px {
  font-size: 16px;
  span,
  div,
  button,
  label,
  input {
    font-size: 16px !important;
  }
}
.font-size-18px {
  font-size: 18px;
  span,
  div,
  button,
  label,
  input {
    font-size: 18px !important;
  }
}
.font-size-20px {
  font-size: 20px;
  span,
  div,
  button,
  label,
  input {
    font-size: 20px !important;
  }
}
